.main_button {
    background-color: orangered;
    border-radius: 100px;
    box-shadow: rgba(250, 63, 63, 0.55) 0 -25px 18px -14px inset, rgba(255, 58, 58, 0.45) 0 1px 2px, rgba(252, 60, 60, 0.45) 0 2px 4px, rgba(255, 57, 57, 0.35) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}

.main_button:hover {
    box-shadow: rgba(250, 63, 63, 0.45) 0 -25px 18px -14px inset, rgba(255, 58, 58, 0.35) 0 1px 2px, rgba(252, 60, 60, 0.35) 0 2px 4px, rgba(255, 57, 57, 0.25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.black_button {
    background-color: gray;
    border-radius: 100px;
    box-shadow: rgba(128, 128, 128, 0.55) 0 -25px 18px -14px inset, rgba(103, 103, 103, 0.45) 0 1px 2px, rgba(86, 86, 86, 0.45) 0 2px 4px, rgba(58, 58, 58, 0.35) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}

.black_button:hover {
    box-shadow: rgba(128, 128, 128, 0.55) 0 -25px 18px -14px inset, rgba(103, 103, 103, 0.45) 0 1px 2px, rgba(86, 86, 86, 0.45) 0 2px 4px, rgba(58, 58, 58, 0.35) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.link {
    color: orangered;
    text-decoration: none;
    text-underline: none;
}

.link:hover {
    color: slateblue;
}
