<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{../css/index_styles.css}">
    <link rel="stylesheet" th:href="@{../css/button_styles.css}">

    <title>Track</title>
</head>
<body>

<p class="head" th:text="${track.getName()}"/>

<div>
    <b>Location: </b><span th:text="${track.getLocation()}" /> <br>
    <b>Record: </b><span th:text="${track.getFormatedRecord()}" />
</div>

<div style="text-align: center;">
    <img th:src="${track.getImage()}" alt="Track Image">
</div>

<div style="text-align:center; margin-top: 1%;">
    <a href="/">
        <button class="black_button">Start Page</button>
    </a>
</div>

</body>
</html>
